* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper form .mantine-Button-filled {
  width: 93px;
}

.link-style a {
  color: #fd7e14;
  text-decoration: none;
}

/* MAIN SECTION  */
.main-section {
  min-height: 100vh;
}

.main-section .mantine-Navbar-root {
  height: 100%;
}
.main-section .mantine-AppShell-body {
  height: calc(100vh - 60px);
}

/* MEDIA QUERY  */

@media (min-width: 576px) {
  .login-wrapper form {
    min-width: 350px;
  }
}
