@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif !important;
}

.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}

.bg-transparent {
  background-color: transparent;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.dim-text-white {
  color: rgba(255, 255, 255, 0.7);
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper form .mantine-Button-filled {
  width: 93px;
}

.link-style a {
  color: #fd7e14;
  text-decoration: none;
}

/* MAIN SECTION  */
.main-section {
  min-height: 100vh;
  overflow: hidden;
}

.main-section .mantine-Navbar-root {
  height: 100%;
}
.main-section .mantine-AppShell-body {
  height: calc(100vh - 60px);
}

.main-section .mantine-AppShell-main {
  overflow: auto;
}
/* MEDIA QUERY  */

@media (min-width: 576px) {
  .login-wrapper form {
    min-width: 350px;
  }
}
